<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 
  Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <h1>PAT生成エンドポイント</h1>
    <p>RO及びRSに固有なIDをもとにPATを生成する．</p><br>

    <form action="#" method="post">
        <p>FL-Server ユーザID:
            <input type="text" name="uid"></p>
        <p>リソース所有者ID:
            <input type="text" name="roId"></p>
        <p>リソースサーバID:
            <input type="text" name="rsId"></p>
        <br>
        <button type="submit" value="issue">issue</button>
    </form>

</body>

</html>