<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 
  Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <h1>PAT生成エンドポイント</h1>
    <p>RO及びRSに固有なIDをもとにPATを生成する．</p><br>

    <form action="#" method="post">
        <p>FL-Server ユーザID:
            <input type="text" name="uid"></p>
        <p>リソース所有者ID:
            <input type="text" name="roId"></p>
        <p>リソースサーバID:
            <input type="text" name="rsId"></p>
        <br>
        <input type="hidden" name="timestamp" value="1595230979">
        <input type="hidden" name="timeSig"
            value="vF9Oyfm+G9qS4/Qfns5MgSZNYjOPlAIZVECh2I5Z7HHgdloy5q7gJoxi7c1S2/ebIQbEMLS05x3+b0WD0VJfcWSUwZMHr3jfXYYwbeZ1TerKpvfp1j21nZ+OEP26bc28rLRAYZsVQ4Ilx7qp+uLfxu9X9x37Qj3n0CI2TEiKYSSYDQ0bftQ/3iWSSoGjsDljh9bKz1eVL911KeUGO+t/9IkB6LtZghdbIlnGISbgrVGoEOtGHi0t8uD2Vh/CRyBe+XnQV3HQtkjddLQitAesKTYunK1Ctia3x7klVjRH9XiJ11q6IbR8gz7rchdHYZe6HP+w/LyWMS5z6M26AXQrVw==">
        <button type="submit" value="issue">issue</button>
    </form>

</body>

</html>