<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 
  Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title></title>
</head>

<body>
    <h1>Authorization Blockchain API</h1>
    <h3>ポリシー設定エンドポイント</h3><br>
    <p>ポリシーの設定に成功しました．</p><br>
    <p>Issuer: {{ iss }}</p>
    <p>Subject: {{ sub }}</p>
    <p>Audience: {{ aud }}</p>
    <br>
    <br>
    （手続き内容07）<br>
    認可ポリシーの設定が完了した．<br>
    設定内容がベージに表示されていることが確認できる．<br>
    </p>

    <p><img src="/static/images/rreg07.png" width="841" height="500"></p>
</body>

</html>